.circular-card{
    padding: 15% !important;
    border-radius: 50% !important;
}
.circular-card-heading{
    color: gray;
    font-size: 17px;
}
.no-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.card-text{
    color: dimgrey;
}