<div class="wrapper">
    <!-- <div class="page-header clear-filter" filter-color="orange">
    </div> -->
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="d-block" src="assets/img/bg1.jpg" alt="First slide" width="100%">
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide" width="100%">
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide" width="100%">
        </ng-template>
    </ngb-carousel>
    <div class="row" style="height: 30px;">
        <div class="col-md-12"></div>
    </div>
    <div class="card">
        <div class="row" style="text-align: center;margin: 10px;">
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #f7a21887">
                    <img class="d-block" src="assets/img/design_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Design</label>
            </div>
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #ff879d">
                    <img class="d-block" src="assets/img/repair_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Repair</label>
            </div>
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #9dff84">
                    <img class="d-block" src="assets/img/maintainance_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Maintainance</label>
            </div>
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #9ae8ff">
                    <img class="d-block" src="assets/img/supply_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Supply</label>
            </div>
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #c7b4ff">
                    <img class="d-block" src="assets/img/construction_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Construction</label>
            </div>
            <div class="col-md-2 no-padding">
                <div class="card circular-card" style="background-color:  #d673f7">
                    <img class="d-block" src="assets/img/design_icon.png" alt="Second slide" width="100%">
                </div>
                <label class="circular-card-heading">Consolation</label>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-6">
            <div class="card" style="text-align: justify;">
                <div>
                    <h4 class="card-title">About Us</h4>
                </div>
                <p class="card-text" style="padding: 10px;">This card has supporting text below as a natural lead-in to additional content. This card has supporting
                    text below as a natural lead-in to additional content. This card has supporting text below as a natural
                    lead-in to additional content.This card has supporting text below as a natural lead-in to additional
                    content.This card has supporting text below as a natural lead-in to additional content.This card has
                    supporting text below as a natural lead-in to additional content.This card has supporting text below
                    as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to
                    additional content.This card has supporting text below as a natural lead-in to additional content.This
                    card has supporting text below as a natural lead-in to additional content.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div>
                    <h4 class="card-title">Why We</h4>
                </div>
                <p class="card-text" style="padding: 10px;">This card has supporting text below as a natural lead-in to additional content. This card has supporting
                    text below as a natural lead-in to additional content. This card has supporting text below as a natural
                    lead-in to additional content.This card has supporting text below as a natural lead-in to additional
                    content.This card has supporting text below as a natural lead-in to additional content.This card has
                    supporting text below as a natural lead-in to additional content.This card has supporting text below
                    as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to
                    additional content.This card has supporting text below as a natural lead-in to additional content.This
                    card has supporting text below as a natural lead-in to additional content.
                </p>
            </div>
        </div>
        <!-- <div class="col-sm-1"></div> -->
    </div>
    <div class="card">
        <div class="row" style="text-align: center;margin: 10px;">
            <div class="col-md-2 no-padding"></div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #f7a21887">
                    <img class="d-block" src="assets/img/design_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Design</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #ff879d">
                    <img class="d-block" src="assets/img/repair_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Repair</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #9dff84">
                    <img class="d-block" src="assets/img/maintainance_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Maintainance</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #9ae8ff">
                    <img class="d-block" src="assets/img/supply_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Supply</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #c7b4ff">
                    <img class="d-block" src="assets/img/construction_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Construction</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #d673f7">
                    <img class="d-block" src="assets/img/design_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Consolation</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #d673f7">
                    <img class="d-block" src="assets/img/design_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Consolation</label>
            </div>
            <div class="col-md-1 no-padding">
                <div class="card circular-card" style="background-color:  #d673f7">
                    <img class="d-block" src="assets/img/design_icon.png" width="100%">
                </div>
                <label class="circular-card-heading">Consolation</label>
            </div>
            <div class="col-md-2 no-padding"></div>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="text-left col-md-12 col-lg-3">
                    <h4>Contact Info</h4>
                    <label>Vijay Nagar, Indore, India</label>
                    <br/>
                    <label>abc@gmail.com</label>
                    <br/>
                    <label>+91-987654321</label>
                    <br/>
                </div>
                <div class="text-center col-md-12 col-lg-6">
                    <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg"
                        rel="tooltip" title="Follow us">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg"
                        rel="tooltip" title="Like us">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round"
                        rel="tooltip" title="Follow us">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg"
                        rel="tooltip" title="Star on Github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="text-right col-md-12 col-lg-3">
                    <h4>Contact Info</h4>
                    <label>Vijay Nagar, Indore, India</label>
                    <br/>
                    <label>abc@gmail.com</label>
                    <br/>
                    <label>+91-987654321</label>
                    <br/>
                    <!-- <ul>
                        <li>Vijay Nagar, Indore, India</li>
                        <li>abc@gmail.com</li>
                        <li>+91-987654321</li>
                    </ul> -->
                </div>
            </div>
            <!-- <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by Rajnee.
                </div> -->
        </div>
    </footer>
</div>


<!-- <button class="btn btn-primary btn-round" type="button">Design</button>
                <button class="btn btn-primary btn-round" type="button">Repair</button>
                <button class="btn btn-primary btn-round" type="button">Maintainance</button>
                <button class="btn btn-primary btn-round" type="button">Supply</button>
                <button class="btn btn-primary btn-round" type="button">Construction</button>
                <button class="btn btn-primary btn-round" type="button">Consolation</button> -->