<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <!-- <div class="section section-javascript" id="javascriptComponents"> -->
        <!-- <div class="container"> -->
        <!-- <div class="section" id="carousel"> -->
        <!-- <div class="container"> -->
        <div class="title">
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img class="d-block" src="https://d2cm6lcqdfgo2r.cloudfront.net/images/home-page-bg2.jpg"
                            alt="First slide" width="100%">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="d-block" src="https://d2cm6lcqdfgo2r.cloudfront.net/images/home-page-bg2.jpg"
                            alt="Second slide" width="100%">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="d-block" src="https://d2cm6lcqdfgo2r.cloudfront.net/images/home-page-bg2.jpg"
                            alt="Third slide" width="100%">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>

        <!-- <div class="container"> -->
        <div style="text-align: center;">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Design</h6>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Repair</h6>

                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Maintainance</h6>

                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Supply</h6>

                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Construction</h6>

                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-round" type="button" style="padding: 21px 26px;"><i
                            class="now-ui-icons ui-2_favourite-28"></i></button>
                    <h6 style="color: black;">Consolation</h6>

                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

        <!-- </div> -->


        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->

        <!-- <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Now UI Kit.</h1>
              <h3>A beautiful Bootstrap 4 UI kit. Yours free.</h3>
          </div>
          <h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6>
      </div> -->
    </div>




    <div class="main">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div>
                        <h4 class="card-title">About Us</h4>
                    </div>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                        This card has supporting text below as a natural lead-in to additional content.
                        This card has supporting text below as a natural lead-in to additional content.This card has
                        supporting text below as a natural lead-in to additional content.This card has supporting text
                        below as a natural lead-in to additional content.This card has supporting text below as a
                        natural lead-in to additional content.This card has supporting text below as a natural lead-in
                        to additional content.This card has supporting text below as a natural lead-in to additional
                        content.This card has supporting text below as a natural lead-in to additional content.This card
                        has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="width: 98.5%;">

                    <div style="text-align: center;">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Vastu Consultancy</span>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                        <span style="font-size: small;color: black;">Customize Designs</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Floor plan</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Kitchen Designs</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Office Designs</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">House Designs</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Architects Designs</span>
            
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-round" type="button" style="padding: 18px 22px;"><i
                                        class="now-ui-icons ui-2_favourite-28"></i></button>
                                <span style="font-size: small;color: black;">Elevation</span>
            
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <div class="card">
              <div class="nav-tabs-navigation" data-tabs-color="orange">
                  <div class="nav-tabs-wrapper">
                      <ngb-tabset [justify]="'center'" class="text-center" >
                          <ngb-tab title="Interior Designs">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="assets/img/logo.png" alt="Rounded Image" class="rounded">
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="assets/img/logo.png" alt="Rounded Image" class="rounded">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="assets/img/logo.png" alt="Rounded Image" class="rounded">
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="assets/img/logo.png" alt="Rounded Image" class="rounded">
                                    </div>
                                </div>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Architecture Planing">
                            <ng-template ngbTabContent>
                                <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Elevation">
                            <ng-template ngbTabContent>
                                <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                            </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                  </div>
              </div>
            </div>
        </div>

        <!-- <div style="text-align: center;">
            <div class="col-md-12">
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Vastu Consultancy</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Customize Designs</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Floor plan</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Kitchen Designs</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Office Designs</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">House Designs</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Architects Designs</button>
                <button class="btn btn-primary btn-sm" style="font-size: 12px;">Elevation</button>
            </div>
        </div> -->

        <!-- <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <!-- <app-basicelements></app-basicelements>
      <app-navigation></app-navigation> -->
        <!-- <div class="section section-tabs">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Tabs with Icons on Card</p>
                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center">
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons objects_umbrella-13"></i> Home
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_cart-simple"></i> Profile
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                          <i class="now-ui-icons shopping_shop"></i> Messages
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons ui-2_settings-90"></i> Settings
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Tabs with Background on Card</p>
                      <div class="card">
                        <div class="nav-tabs-navigation" data-tabs-color="orange">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Home">
                                      <ng-template ngbTabContent>
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Profile">
                                      <ng-template ngbTabContent>
                                          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Messages">
                                      <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Settings">
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
        <!-- <div class="section section-pagination">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h4>Progress Bars</h4>
                      <div class="progress-container">
                        <span class="progress-badge">Default</span>

                        <ngb-progressbar [value]="25"><span class="progress-value">25%</span></ngb-progressbar><br>
                      </div>
                      <div class="progress-container progress-primary">
                          <span class="progress-badge">Primary</span>
                          <ngb-progressbar [value]="60"><span class="progress-value">60%</span></ngb-progressbar><br>
                      </div>
                      <br />
                      <h4>Navigation Pills</h4>
                      <ngb-tabset type="pills" class="nav nav-pills nav-pills-primary justify-content-start tab-space nav-pills-just-icons">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="far fa-gem"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="fa fa-thermometer-full"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="fa fa-suitcase"></i>
                              </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab [disabled]="true">
                              <ng-template ngbTabTitle>
                                <i class="fa fa-exclamation"></i>
                              </ng-template>
                              <ng-template ngbTabContent>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                  </div>
                  <div class="col-md-6">
                      <h4>Pagination</h4>
                      <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
                      <br/>
                      <ngb-pagination [collectionSize]="50" [(page)]="page2" aria-label="Default pagination"></ngb-pagination>
                      <br>
                      <h4>Labels</h4>
                      <span class="badge badge-default">Default</span>
                      <span class="badge badge-primary">Primary</span>
                      <span class="badge badge-success">Success</span>
                      <span class="badge badge-info">Info</span>
                      <span class="badge badge-warning">Warning</span>
                      <span class="badge badge-danger">Danger</span>
                  </div>
              </div>
          </div>
      </div> -->
        <!-- <div class="section" id="notifications">
          <div class="container">
            <h4>Notifications</h4>
          </div>
          <app-notification></app-notification>
      </div> -->
        <!-- <app-typography></app-typography> -->
        <!-- <div class="section section-javascript" id="javascriptComponents">
          <div class="container">
              <h3 class="title">Angular Native Components</h3>
              <div class="row" id="modals">
                  <div class="col-md-6">
                      <h4>Modal</h4>
                      <ngbd-modal-component></ngbd-modal-component>
                  </div>
                  <div class="col-md-6">
                      <h4>Popovers</h4>
                      <button type="button" class="btn btn-default" placement="right"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on right" popoverClass="popover-primary">
                          On right
                      </button>

                      <button type="button" class="btn btn-default" placement="top"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on top">
                          On top
                      </button>

                      <button type="button" class="btn btn-default" placement="left"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
                          On left
                      </button>

                      <button type="button" class="btn btn-default" placement="bottom"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on bottom">
                          On bottom
                      </button>
                  </div>
                  <br />
                  <br />
                  <div class="col-md-6">
                      <h4>Datetimepicker</h4>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="datepicker-container">
                                  <div class="form-group">
                                    <input class="form-control datetimepicker" placeholder="06/07/2017"
                                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" data-color="orange">
                			            </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <h4>Tooltips</h4>
                      <button type="button" class="btn btn-default btn-tooltip" placement="right" ngbTooltip="Tooltip on right">
                         On right
                     </button>
                     <button type="button" class="btn btn-default btn-tooltip" placement="left" ngbTooltip="Tooltip on left">
                       On left
                     </button>
                      <button type="button" class="btn btn-default btn-tooltip" placement="top" ngbTooltip="Tooltip on top">
                         On top
                      </button>
                      <button type="button" class="btn btn-default btn-tooltip" placement="bottom" ngbTooltip="Tooltip on bottom">
                          On bottom
                      </button>
                      <div class="clearfix"></div>
                      <br>
                      <br>
                  </div>
          </div> -->

        <!-- <div class="section" id="carousel">
              <div class="container">
                  <div class="title">
                      <h4>Carousel</h4>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-8">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>Nature, United States</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>Somewhere Beyond, United States</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>Yellowstone National Park, United States</h5>
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="section section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Nucleo Icons</h2>
                      <h5 class="description">
                          Now UI Kit PRO comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit PRO Make sure you check all of them and use those that you like the most.
                      </h5>
                      <a [routerLink]="['/nucleoicons']" class="btn btn-primary btn-round btn-lg">View Demo Icons</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All Icons</a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="now-ui-icons ui-1_send"></i>
                          <i class="now-ui-icons ui-2_like"></i>
                          <i class="now-ui-icons transportation_air-baloon"></i>
                          <i class="now-ui-icons text_bold"></i>
                          <i class="now-ui-icons tech_headphones"></i>
                          <i class="now-ui-icons emoticons_satisfied"></i>
                          <i class="now-ui-icons shopping_cart-simple"></i>
                          <i class="now-ui-icons objects_spaceship"></i>
                          <i class="now-ui-icons media-2_note-03"></i>
                          <i class="now-ui-icons ui-2_favourite-28"></i>
                          <i class="now-ui-icons design_palette"></i>
                          <i class="now-ui-icons clothes_tie-bow"></i>
                          <i class="now-ui-icons location_pin"></i>
                          <i class="now-ui-icons objects_key-25"></i>
                          <i class="now-ui-icons travel_istanbul"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Completed with examples</h2>
                      <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
                  </div>
              </div>
          </div>
      </div> -->
        <!-- <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container login-page">
            <div class="row">
              <div class="col-md-4 content-center ml-auto mr-auto">
                  <div class="card card-login card-plain">
                      <form class="form" method="" action="">
                          <div class="header header-primary text-center">
                              <div class="logo-container">
                                  <img src="assets/img/now-logo.png" alt="">
                              </div>
                          </div>
                          <div class="content">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                              </div>
                                <input type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                            </div>
                          </div>
                          <div class="footer text-center">
                              <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                          </div>
                          <div class="text-center">
                              <h6>
                                  <a href="#pablo" class="link">Create Account</a>
                              </h6>
                          </div>
                          <div class="text-center">
                              <h6>
                                  <a href="#pablo" class="link">Need Help?</a>
                              </h6>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
              <div class="col text-center">
                  <a [routerLink]="['/examples/login']" class="btn btn-simple btn-round btn-white btn-lg">View Login Page</a>
              </div>
          </div>
      </div>
      <div class="section section-examples" data-background-color="black">
          <div class="space-50"></div>
          <div class="container text-center">
              <div class="row">
                  <div class="col">
                      <a [routerLink]="['/examples/landing']">
                          <img src="assets/img/landing.jpg" alt="Image" class="img-raised">
                      </a>
                      <a [routerLink]="['/examples/landing']" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
                  </div>
                  <div class="col">
                      <a [routerLink]="['/examples/profile']">
                          <img src="assets/img/profile.jpg" alt="Image" class="img-raised">
                      </a>
                      <a [routerLink]="['/examples/profile']" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-download" id="#download-section" data-background-color="black">
          <div class="container">
              <div class="row justify-content-md-center">
                  <div class="text-center col-md-12 col-lg-8">
                      <h3 class="title">Do you love this Bootstrap 4 UI Kit?</h3>
                      <h5 class="description">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim or Invision where you can find the kit in HTML or Sketch/PSD format. Start a new project or give an old Bootstrap project a new look!</h5>
                  </div>
                  <div class="text-center col-md-12 col-lg-8">
                      <a href="https://www.creative-tim.com/product/now-ui-kit-angular" class="btn btn-primary btn-lg btn-round" role="button">
                          Download Angular
                      </a>
                      <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                          Download PSD/Sketch
                      </a>
                  </div>
              </div>
              <br>
              <br>
              <br>
              <div class="row text-center mt-5">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h2>Want more?</h2>
                      <h5 class="description">We've just launched
                          <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" target="_blank">Now UI Kit PRO Angular</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 UI Kit.</h5>
                  </div>
                  <div class="col-md-12">
                      <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation" class="btn btn-neutral btn-round btn-lg" target="_blank">
                          <i class="now-ui-icons arrows-1_share-66"></i> Upgrade to PRO
                      </a>
                  </div>
              </div>
              <br>
              <br>
              <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                  <h3>Thank you for supporting us!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                  <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div> -->

        <footer class="footer" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-left col-md-12 col-lg-2">
                        <ul>
                            <li>Address: Indore</li>
                        </ul>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a target="_blank" href="https://www.twitter.com/creativetim"
                            class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip"
                            title="Follow us">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/creativetim"
                            class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip"
                            title="Like us">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/"
                            class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip"
                            title="Follow us">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular"
                            class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip"
                            title="Star on Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="text-right col-md-12 col-lg-2">
                        <ul>
                            <li>Lets Talk</li>
                            <li>Email Address: abc@gmail.com</li>
                            <li>Mobile No.:987654321</li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by Rajnee.
                </div> -->
            </div>
        </footer>
    </div>