<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
        <img src="assets/img/logo.png" alt="" style=" width: 130px; height: 30px;" [routerLink]="['/home']">
    </div>
    
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" >
           <b>Home</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
           <b>About Us</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
           <b>Services</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
           <b>Media</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://creativetimofficial.github.io/now-ui-kit-angular/documentation/tutorial"
            target="_blank">
            <b>Contact Us</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" >
            <b>Login / Sign Up</b>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular"
            target="_blank">
            <i class="now-ui-icons arrows-1_share-66"></i>
            <p>Upgrade to PRO</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
            href="https://twitter.com/CreativeTim" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
            href="https://www.facebook.com/CreativeTim" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>